aiogram
asyncio
aiogram             
aiohttp                
aiosignal                
appdirs              
APScheduler==3.6.3            
asgiref              
async-timeout           
asyncio                
attrs                 
autopep8                 
Babel                   
beautifulsoup4        
bs4                     
cachetools               
cattrs                   
certifi                
charset-normalizer     
et-xmlfile            
exceptiongroup         
exesexe                 
fake-useragent           
frozenlist              
google-api-core         
google-api-python-client 
google-auth              
google-auth-httplib2    
google-auth-oauthlib    
googleapis-common-protos 
httplib2                 
idna                    
Jinja2                  
keyboa                   
MarkupSafe               
multidict                
numpy                    
oauthlib                
openpyxl                 
pandas                  
Pillow                  
pip                      
protobuf                 
pyasn1                  
pyasn1-modules          
pycodestyle             
pyparsing               
pyTelegramBotAPI        
python-dateutil         
python-telegram-bot     
pytz                     
pytz-deprecation-shim    
requests                 
requests-cache          
requests-oauthlib       
rsa                     
schedule                
setuptools               
six                      
soupsieve                
sqlparse                
telebot                 
telegram                
toml                     
tornado                 
transliterate            
tzdata                   
tzlocal                 
uritemplate             
url-normalize           
urllib3                  
xlrd                    
xlwt                    
yarl                    